<form class="form">
    <div class="form-row">
        <label class="form-label" for="username">
            Name
        </label>
        <input
            class="form-input"
            id="username" type="text">
    </div>
    <div class="form-row">
        <label class="form-label" for="username">
            Email Address
        </label>
        <input
            class="form-input"
            id="username" type="text">
    </div>
    <div class="form-row">
        <label class="form-label" for="username">
            Email Address
        </label>
        <textarea class="form-input" name="message" id="message" rows="8"></textarea>
    </div>
    <div class="form-row">
        <button
            class="form-btn w-fit ml-auto"
            type="submit">
            Send
        </button>
    </div>
</form>