@tailwind base;
@layer base {
    html {
        @apply font-poppins
    }
    h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
    }
    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }
}
@tailwind components;

@tailwind utilities;

/* component */
.btn {
    @apply py-2 px-4
}
.btn-lg {
    @apply py-6 px-12 font-bold text-3xl
}
.form {
    @apply w-full max-w-2xl bg-turqoise-2 px-20 pt-8 pb-14
}
.form-btn {
    @apply px-8 py-2 font-bold text-xl bg-white focus:outline-none hover:bg-slate-100 mt-4
}
.form-row {
    @apply flex flex-col mt-6
}
.form-label {
    @apply font-medium text-xl mb-4
}
.form-input {
    @apply appearance-none bg-turqoise-1 w-full py-2 px-3 leading-tight focus:outline-turqoise-2 focus-visible:outline-turqoise-2
}

/* colors */
.btn-primary {
    @apply bg-turqoise-3 hover:bg-turqoise-1
}
.btn-outline-dark {
    @apply border border-black hover:border-turqoise-4 hover:text-turqoise-4
}
.link {
    @apply hover:text-turqoise-5
}