<section id="contacts" class="scroll-offset bg-light">
    <div class="container" style="height: 500px;">
        <div class="title">
            <h2>Contacts</h2>
        </div>

    </div>
</section>