<section id="contacts" class="scroll-offset bg-light">
    <div class="container bg-body p-5 rounded-3 shadow">
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae alias illum odio ipsam natus veritatis iste voluptas! Tempore reprehenderit nobis illo, omnis eos, maxime nemo temporibus nam veritatis, molestiae aliquid!
            </div>
            <form class="col-6" action="send" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea id="message" name="message" class="form-control" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>