<section id="contacts" class="scroll-offset bg-light">
    <div class="container bg-dark pt-5 rounded-pill shadow text-light">
        <div class="title">
            <h2>Keep in touch</h2>
        </div>
        <div class="content text-center">
            <a class="link-lightgrey" href="mailto:<%= contacts.email %> "><%= contacts.email %> </a>
            <div class="d-flex justify-content-center mt-3">
                <ul class="m-0 list-unstyled list-inline text-light">
                    <li class="list-inline-item"><a class="text-light" href="<%= contacts.linkedin %> " target="_blank"><i class="fa-brands fa-linkedin fa-3x"></i></a></li>
                    <li class="list-inline-item"><a class="text-light" href="<%= contacts.github %> " target="_blank"><i class="fa-brands fa-github fa-3x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>