<footer class="bg-dark m-0 p-1">
    <p class="text-light text-center m-0 p-4">© Copyright <%= new Date().getFullYear() %> <br>
        <a class="text-decoration-none link-lightgrey" href="http://" target="_blank">Rama Fauzan</a>
    </p>
    
</footer>